/* This is the smallest site we can build */

/* GLOBALS */

html{
    background: url('../lib/images/web/ProbablyBlur.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  
}

a{
    text-decoration: none;
}

h1{
    font-family: 'Amatic SC', sans-serif;
    color: #f2f0f2;
    font-size: 1.75em;
}

p{
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.75em;
}



/* CLASSES */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.center-margin{
    margin-left: auto;
    margin-right: auto;
}

.content-div{
    max-width: 960px;
}




/* MAIN */


#main{
    width: 100vw;
    /* max-width: 960px; */
}




/* PLAYER */

#content-div-album{
    height: 100vh;
    max-width: 960px;
}

#player-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player-bandcamp{
    height: 200px;
    width: 200px;
    border: none;
}

#down-arrow{
    width: 15px;
    height: 15px;
    color: #f2f0f2;
}


/* NAVIGATION */

#content-div-nav{
    background-color: #fff;
    max-width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    h1{
        color: #444;
    }

    .social-logo{
        height: 45px;
        width: 45px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .social-logo-youtube{
        height: 45px;
        width: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }
}


/* VIDEO */

#content-div-video{
    max-width: 100%;
    background-color: #fff;

    h1{
        color: #444;
    }
}

#glue-video{
    width: 100vw;
    height: 310px;
}




#content-div-shows{
    max-width: 100%;
}

#flyer-div{
    width: 100%;
}

.flyer{
    /* height: 250px; */
    width: 100%;
}




#content-div-bio{
    background-color: #fff;
    height: fit-content;
    max-width: 100%;
    padding-bottom: 5%;

    h1{
        color: #444;
    }
}



#content-div-merch{
    max-width: 100%;
}

#album-container{
    width: 100%;
    text-align: center;
}

.album-cover{
    width: 120px;
}